

<div class="card text-center">
    <div class="card-header">
     Formulario
    </div>
    <div class="card-body">
    <div class="row">
    <div class="col-md-6">
        <div class="card text-center">
            <div class="card-header">
             libro
            </div>
            <div class="card-body">
              <app-libro></app-libro>
            </div>
          </div>
    </div>
          <div class="col-md-6">
            <div class="card text-center">
                <div class="card-header">
                autor
                </div>
                <div class="card-body">
                        <app-autor></app-autor>
                </div>
            </div>

          </div>
    </div>
<br><br><br>

    <div class="row">
        <app-grilla></app-grilla>
    </div>
 </div>
<div>
    
  